.product-gallery{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top:30px ;
    margin: auto;
}
.card-container{
    background-color:bisque;
}
.card-container{
    position: sticky;
    top: 0;
}
@media only screen and (max-width:688px) {
    
    .product-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-container{
        grid-template-columns: repeat(1, 1fr);
       grid-gap: 0;
    }
}